header h1 {
    text-align: center;
}

.game-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-body img {
    width: 23%;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.game-body img:hover {
    box-shadow: 10px 5px 5px lightgray;
}

.store {
    border: solid 2px black;
    padding-left: 10px;
}

.store div {
    border: solid 2px black;
    margin-bottom: 10px;
}

.store h2 {
    display: inline-block;
    margin-bottom: 0;
}

.store div.hidden {
    visibility: hidden; 
}

.store h2:hover {
    cursor:grabbing
}

.split {
    height: 100%;
    position: fixed;
}

.left {
    left: 0;
    width: 60%;
}

.right {
    right: 0;
    width: 40%;
}