<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <section class="section category">
        <h2 class="section__title">오늘의 TOP 3<br> 인기게임</h2>

        <div class="category__container container grid">
            <div class="category__data">
                <img src="https://cdn-icons.flaticon.com/png/512/3529/premium/3529201.png?token=exp=1636073176~hmac=48d548d529f138d74719e86663e50ba8" alt="" class="category__img">
                <h3 class="category__title">같은 그림 맞추기</h3>
                <p class="category__description">20211105 #1</p>
            </div>

            <div class="category__data">
                <img src="https://cdn-icons.flaticon.com/png/512/2959/premium/2959056.png?token=exp=1636073081~hmac=7968ac48a1ace713382b1e13091ff06b" alt="" class="category__img">
                <h3 class="category__title">심리테스트</h3>
                <p class="category__description">20211105 #2</p>
            </div>

            <div class="category__data">
                <img src="https://cdn-icons.flaticon.com/png/512/550/premium/550876.png?token=exp=1636073262~hmac=ee4b0bbce863d88a34f1b36012c30d28" alt="" class="category__img">
                <h3 class="category__title">분노의 질주</h3>
                <p class="category__description">20211105 #3</p>
            </div>
        </div>
    </section>
</body>
</html>
