@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Jua';
    margin: 0;
    text-align: center;
}

h3, p {
    font-family: 'IM_Hyemin-Bold';
}

body {
    background-color: #F6EABE;
}

header {
    background-color: #F6D7A7;
    padding: 1.5rem 1.5rem;
}

header h1 {
    text-align: center;
}

.game-body #bread {
    width: 20%;
    margin: 20px 40% 20px;
    padding: 0;
    display: inline-block;
}

.aligner {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img {
    display: inline;
    margin-left: 20px;
    max-width: 60%;
}

.img img {
    margin-top: 20px;
    width: 12%;
}

.img p {
    display: inline-block;
}

#imgs .hidden {
    display: none;
}

.store {
    background-color: #C8E3D4;
    padding: 0 15px 0 15px;
}

#lv {
    padding-top: 15px;
}

.store div {
    background-color: #89B5AF;
    margin-top: 15px;
    padding: 10px 10px;
}

.store div:hover {
    background-color: #87AAAA;
}

.store h2 {
    display: inline-block;
    margin-bottom: 0;
}

.store div.hidden {
    visibility: hidden; 
}

.split {
    height: 100%;
    position: fixed;
}

.left {
    left: 0;
    width: 60%;
}

.right {
    right: 0;
    width: 40%;
}